<h1> <%= @project.title %> </h1>
<p>
<br />
Descrição do projeto: <%= @project.description %>
<br />
O que procuramos no freela: <%= @project.desired_skills %>
<br />
Máximo preço por hora: <%= number_to_currency @project.top_hourly_wage %>
<br />
Data limite para envio de propostas: <%= l @project.proposal_deadline %>
<br />
<% if @project.remote %>
    Trabalho remoto: sim
<% else %>
    Trabalho remoto: não
<% end %>
</p>

<% if contractor_signed_in? %>
    <%= link_to 'Editar informações do projeto', edit_project_path %>
    <br />
    <%= link_to 'Remover projeto', @project, method: :delete, data: { confirm: 'Você tem certeza?'} %>
    <br />
    <br />

    <h3> Propostas recebidas: </h3>

    <% @proposals.each do |proposal| %>
        <%= link_to proposal.freelancer.social_name, freelancer_path(proposal.freelancer) %>
        <br />
        Descrição do profissional: <%= proposal.freelancer.description %>
        <br />
        Justificativa para o projeto: <%= proposal.proposal_description %>
        <br />
        Preço/hora: <%= number_to_currency(proposal.hourly_wage) %>
        <br />
        <br />
    <% end %>


<% elsif freelancer_signed_in? %>
    <h3> Adicione sua proposta de trabalho! </h3>
    <%= form_with model: @proposal, url: project_proposals_path(@project) do |f| %>
        <%= f.label :proposal_description, 'Justificativa' %>
        <%= f.text_field :proposal_description %>
        <br />
        <%= f.label :hourly_wage, 'Valor/hora' %>
        <%= f.number_field :hourly_wage %>
        <br />
        <%= f.label :weekly_hours, 'Horas semanais' %>
        <%= f.number_field :weekly_hours %>
        <br />
        <%= f.label :expected_conclusion, 'Conclusão esperada' %>
        <%= f.date_field :expected_conclusion %>
        <%= f.submit 'Enviar proposta'%>
    <% end %>

    <h4> Suas propostas: </h4>
    <% @proposals.each do |proposal| %>
        Justificativa: <%= proposal.proposal_description %>
        <br />
        Valor/hora: <%= number_to_currency proposal.hourly_wage %>
        <br />
        Carga horária semanal: <%= proposal.weekly_hours %> horas
        <br />
        Conclusão esperada: <%= l proposal.expected_conclusion %>
        <br />
        <br />
    <% end %>
<% end %>

<%= link_to 'Voltar', root_path %>