<h1> <%= @project.title %> </h1>
<p>
<br />
Descrição do projeto: <%= @project.description %>
<br />
O que procuramos no freela: <%= @project.desired_skills %>
<br />
Máximo preço por hora: <%= number_to_currency @project.top_hourly_wage %>
<br />
Data limite para envio de propostas: <%= l @project.proposal_deadline %>
<br />
<% if @project.remote %>
    Trabalho remoto: sim
<% else %>
    Trabalho remoto: não
<% end %>
</p>

<%= link_to 'Editar informações do projeto', edit_project_path %>
<br />
<%= link_to 'Remover projeto', @project, method: :delete, data: { confirm: 'Você tem certeza?'} %>
<br />
<%= link_to 'Voltar', root_path %>
