<h1> <%= @project.title %> </h1>
<p>
<br />
Descrição do projeto: <%= @project.description %>
<br />
O que procuramos no freela: <%= @project.desired_skills %>
<br />
Área de atuação requerida: <%= @project.freelancer_expertise.title %>
<br />
Máximo preço por hora: <%= number_to_currency @project.top_hourly_wage %>
<br />
Data limite para envio de propostas: <%= l @project.proposal_deadline %>
<br />
<% if @project.remote %>
    Trabalho remoto: sim
<% else %>
    Trabalho remoto: não
<% end %>
</p>

<% if contractor_signed_in? && current_contractor == @project.contractor %>
    <%= link_to 'Editar informações do projeto', edit_project_path %>
    <br />
    <%= link_to 'Remover projeto', @project, method: :delete, data: { confirm: 'Você tem certeza?'} %>
    <br />
    <br />

    <h3> Propostas recebidas: </h3>

    <% @proposals.each do |proposal| %>
        <%= link_to proposal.freelancer.social_name, freelancer_path(proposal.freelancer) %>
        <br />
        Descrição do profissional: <%= proposal.freelancer.description %>
        <br />
        Justificativa para o projeto: <%= proposal.proposal_description %>
        <br />
        Carga horária semanal: <%= proposal.weekly_hours %> horas
        <br />
        Conclusão do projeto em: <%= l proposal.expected_conclusion %>
        <br />
        Valor/hora: <%= number_to_currency(proposal.hourly_wage) %>
        <br />
        Status da proposta: <%= Proposal.human_attribute_name("status.#{proposal.status}") %>
        <br />
        <% if Proposal.human_attribute_name("status.#{proposal.status}") == 'Pendente' %>
            <%= link_to 'Aprovar proposta', accept_proposal_path(proposal), method: :post %>
            &emsp;
            <%= link_to 'Recusar proposta', deny_proposal_path(proposal), method: :post %>
        <% elsif Proposal.human_attribute_name("status.#{proposal.status}") == 'Recusada' %>
            Motivo: <%= proposal.feedback.body %>
        <% else %>
            <%= link_to 'Ir para chat', proposal_path(proposal) %>
        <% end %>
        <br />
        <br />
    <% end %>


<% elsif freelancer_signed_in? %>
    <h3> Adicione sua proposta de trabalho! </h3>
    <%= form_with model: @proposal, url: project_proposals_path(@project) do |f| %>
        <%= @proposal.errors.full_messages_for(:freelancer_id)[0] %>
        <br />
        <%= f.label :proposal_description %>
        <%= f.text_field :proposal_description %>
        <%= @proposal.errors.full_messages_for(:proposal_description)[0] %>
        <br />
        <%= f.label :hourly_wage %>
        <%= f.number_field :hourly_wage %>
        <%= @proposal.errors.full_messages_for(:hourly_wage)[0] %>
        <br />
        <%= f.label :weekly_hours %>
        <%= f.number_field :weekly_hours %>
        <%= @proposal.errors.full_messages_for(:weekly_hours)[0] %>
        <br />
        <%= f.label :expected_conclusion %>
        <%= f.date_field :expected_conclusion %>
        <%= @proposal.errors.full_messages_for(:expected_conclusion)[0] %>
        <%= f.submit 'Enviar proposta' %>

    <% end %>

    <h4> Suas propostas: </h4>
    <% @proposals.each do |proposal| %>
        <% if proposal.archived == false && proposal.freelancer == current_freelancer %>
            <% if %>
                Justificativa: <%= proposal.proposal_description %>
                <br />
                Valor/hora: <%= number_to_currency proposal.hourly_wage %>
                <br />
                Carga horária semanal: <%= proposal.weekly_hours %> horas
                <br />
                Conclusão esperada: <%= l proposal.expected_conclusion %>
                <br />
                Status da proposta: <%= Proposal.human_attribute_name("status.#{proposal.status}") %>
                <br />
                <% if Proposal.human_attribute_name("status.#{proposal.status}") == 'Pendente' %>
                    <%= link_to 'Desistir de proposta', archive_proposal_path(proposal), method: :post, data: { confirm: 'Você tem certeza?'}%>
                    <br />
                <% elsif Proposal.human_attribute_name("status.#{proposal.status}") == 'Recusada' %>
                      Feedback de recusa: 
                      <br />
                <% else %>
                 <%= link_to 'Ir para chat', proposal_path(proposal) %>
                 <br />
                <% end %>
                <br />
            <% end %>
        <% end %>
    <% end %>



<% end %>

<%= link_to 'Voltar', root_path %>