<h1> Chat entre <%= @proposal.contractor.email %> e <%= @proposal.freelancer.social_name %> </h1>


<%= form_with model: @chat, url: proposal_chats_path(@proposal) do |f| %>
  Nova mensagem
  <%= f.label :commenter %>
  <%= f.text_field :commenter %>
  <br />
  <%= f.label :message %>
  <%= f.text_area :message %>
  <br />
  <%= f.submit %>
<% end %>