<h1> Chat entre <%= @proposal.contractor.email %> e <%= @proposal.freelancer.social_name %> </h1>

<% @proposal.chats.each do |chat| %>
  <%= chat.commenter %>: <%= chat.message %>
  <br />
<% end %>
<br />
<%= form_with model:  [ @proposal, @proposal.chats.build ] do |f| %>
  Nova mensagem:
  <br />
  <%= f.label :message %>
  <%= f.text_area :message %>
  <br />
  <%= f.submit 'Enviar mensagem' %>
<% end %>