<h2> Por favor informe o motivo da recusa </h2>
<%= form_with model: @feedback, url: proposal_feedback_path do |f| %>
  <%= f.label :body %>
  <%= f.text_area :body %>
  <%= @feedback.errors.full_messages_for(:body)[0] %>
  <br />
  <br />
  <%= f.submit 'Enviar feedback' %>
<% end %>
