<!DOCTYPE html>
<html>
  <head>
    <title>FreelancingHub</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <% if contractor_signed_in? %>
      Você está logado como contratante || Email: <%= current_contractor.email %>
      &emsp;
      <%= link_to 'Ver meu perfil', contractor_path(current_contractor) %>
      &emsp;
      <%= link_to 'Sair da conta', destroy_contractor_session_path, method: :delete %>
    <% elsif freelancer_signed_in? && current_freelancer.invalid?(:profile_completion) %>
      <%= link_to 'Sair da conta', destroy_freelancer_session_path, method: :delete %>
    <% elsif freelancer_signed_in? %>
      Você está logado como freelancer || Email: <%= current_freelancer.email %>
      ||
      <%= link_to 'Ver meu perfil', freelancer_path(current_freelancer) %>
      ||
      <%= link_to 'Meus projetos', my_projects_freelancers_path %>
      || 
      <%= link_to 'Sair da conta', destroy_freelancer_session_path, method: :delete %>
      <% if current_freelancer.valid?(:profile_completion) %>
        <%= form_with url: search_projects_path, method: :get do |f| %>
        <%= f.label :search, 'Procurar projeto' %>
        <%= f.text_field :search %>
        <%= f.submit 'Procurar projeto' %>
      <% end %>
    <% end %>
    <% else %>
      Você ainda não está logado.
      &emsp;
      <%= link_to 'Entrar como contratante', new_contractor_session_path %>
      &emsp;
      <%= link_to 'Entrar como freelancer', new_freelancer_session_path %>
    <% end %>
    <hr />

    <%= yield %>
  </body>
</html>
